@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&display=swap');

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui" {
  themes: light --default;
}

@theme{
  --font-inter: "Inter", sans-serif;
  --font-momo: "Momo Trust Sans", sans-serif;
}

.btn-primary {
  @apply text-white border-none;
  /* background: #9fcc51; */
  background: #ED1A25;
  color: rgb(29, 29, 29);
}
